@charset "utf-8";

header {
    background-color: aqua;
    font-family: Georgia, "Times New Roman", serif;
    line-height: 100%;
    text-align: center;
}

H1 {
    background-color: #aeaed4;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

h2 {
    background-color: hsl(208, 100%, 97%);
    font-family: "Times New Roman";
    text-align: center;
}

pRBG {
    background-color: rgb(240, 248, 255);
    font-family: "Times New Roman";
    text-align: center;
}